<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>About</title>
	<link rel="icon" href="/img/weather.png">
	<link rel="stylesheet" href="./css/styles.css">
</head>
<body>
	<div class='container normal'>
		<main>
			{{>header}}
			<p>Howdy, my name is Crystal, and I am a self-taught web developer who is finally pursuing a lifelong hobby of web design as a career path. This weather app is a personal endeavor to familiarize myself with back-end technologies like Node.js and Express. I look forward to continuing my journey as a developer by building more dynamic web apps such as this one. You are welcome to check out more of my personal projects at <a href='https://crystalagoncillo.com' target='_blank'>crystalagoncillo.com</a></p>
		</main>
		{{>footer}}
	</div>
</body>
</html>