<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>Help</title>
	<link rel="icon" href="/img/weather.png">
	<link rel="stylesheet" href="./css/styles.css">
</head>
<body>
	<div class='container'>
		<main>
			{{>header}}
			<h3>{{message}}</h3>
			<p>To check the weather of a location, enter the location name in the search box on the homepage. Your location can be as specific as a full mailing address, but at the very minimum, should be a city name or a zip code.</p>
		</main>
		{{>footer}}
	</div>
</body>
</html>