@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Nunito&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Nunito';
}

html {
	width: 100%;
}

body {
	color: #333;
	margin: 0;
}

header {
	padding: 0 0 1em;
}

.container {
	position: relative;
	height: 100vh;
	/*enable flexbox*/
	display: flex;
	flex-direction: column;
}

.container::before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	opacity: 0.5;
}

main {
	/* flexbox style: allows a given element to grow to take up as much space as it needs */
	flex-grow: 1; /* 1 means <main> should take up all leftover space */
	margin: 0 auto;
	text-align: center;
	z-index: 1;
	width: 35vw;
}

	h1 {
		font-size: 64px;
		margin-top: 1em;
		margin-bottom: 16px;
		color: #845251;
		font-weight: 100;
		font-size: 5.5em;
		font-family: 'Amatic SC', cursive;
	}

	header a, a {
		color: #7b8591;
		margin-right: 16px;
		text-decoration: none;
	}

		header a:last-child {
			margin-right: 0;
		}

	h3 {
		font-weight: 400;
	}

	h3, h4, p {
		color: #3e5165;
	}

input, button {
	padding: 0.5em 1em;
	width: 300px;
	font-size: 1em;
	text-align: center;
	color: #b48d6e;
	-webkit-transition: .5s;
  	transition: .5s;
}

input {
	border: none;
	margin-bottom: 0.25em;
}

	input:focus {
		outline: 5px auto #ffdcc7;
	}

	::placeholder {
		color: #b48d6e;
	}

	:-ms-input-placeholder {
		color: #b48d6e;
	}

	::-ms-input-placeholder {
		color: #b48d6e;
	}

button {
	cursor: pointer;
	border: 1px solid #fff;
	background: #ffdcc7;
}

	button:focus {
		outline: 5px auto #c59090;
		border-color: #ffdcc7;
	}

footer {
	background: #eee;
	color: #113954;
	padding: 0.5rem 0;
	text-align: center;
}

::selection {
	color: #fff;
	background: #96bbc9;
}

::-moz-selection {
	color: #fff;
	background: #96bbc9;
}

/*========== Slider ===========*/

.labels {
	margin: auto;
	width: 130px;
	display: inline-flex;
	margin-bottom: 1em;
}
	.labels h4 {
		line-height: 24px;
		margin: 0 auto;
	}

	.labels span {
		text-align: center;
		line-height: 24px;
		font-weight: 700;
	}

.switch {
	position: relative;
	display: block;
	width: 50px;
	height: 24px;
	margin: 0 auto;
}

	/* Hide default HTML checkbox */
	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,0.5);
	-webkit-transition: .5s;
	transition: .5s;
}

	.slider:before {
		position: absolute;
		content: "";
		height: 16px;
		width: 16px;
		left: 4px;
		bottom: 4px;
		background-color: #b1c1c8;
		-webkit-transition: .5s;
		transition: .5s;
	}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 30px;
}

.slider.round:before {
	border-radius: 50%;
}

/*========== Background Modes ===========*/
.normal::before {
	background: url('../img/homepage.png') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

	.normal footer {
		background: #ffece1
	}

.partly-cloudy-day::before {
	background: url('../img/partly-cloudy-day.png') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

.partly-cloudy-day h1, .partly-cloudy-day h2, .partly-cloudy-day h3, 
.partly-cloudy-day h4, .partly-cloudy-day p, .partly-cloudy-day header a {
	-webkit-transition: color .4s;
  	transition: color .4s;
}

	.partly-cloudy-day h1 {
		color: #686a90;
	}

	.partly-cloudy-day h2 {
		color: #cf775e;
	}

	.partly-cloudy-day header a {
		color: #727386;
	}

	.partly-cloudy-day p, .partly-cloudy-day h4 {
		color: #606285;
	}
	
	.partly-cloudy-day button {
		border-color: #96a2c9;
		color: #686a90;
	}

	.partly-cloudy-day button:focus {
		outline-color: #96a2c9;
		border-color: #ffdcc7;
	}

	.partly-cloudy-day input {
		color: #686a90;
	}

	.partly-cloudy-day input:focus {
		outline-color: #96a2c9;
	}

		.partly-cloudy-day ::placeholder {
			color: #686a90;
		}

		.partly-cloudy-day :-ms-input-placeholder {
			color: #686a90;
		} 

		.partly-cloudy-day ::-ms-input-placeholder {
			color: #686a90;
		}

	.partly-cloudy-day ::selection {
		color: #fff;
		background: #ffdcc7;
	}

	.partly-cloudy-day ::-moz-selection {
		color: #fff;
		background: #ffdcc7;
	}

	.partly-cloudy-day .slider:before {
		background-color: #686a90;
	}

.partly-cloudy-night::before {
	background: url('../img/partly-cloudy-night.png') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

.partly-cloudy-night h1, .partly-cloudy-night h2, .partly-cloudy-night h3, 
.partly-cloudy-night h4, .partly-cloudy-night p, .partly-cloudy-night header a {
	-webkit-transition: color .4s;
  	transition: color .4s;
}

	.partly-cloudy-night h1, .partly-cloudy-night h2 {
		color: #653e5b;
	}

	.partly-cloudy-night button, .partly-cloudy-night input, .partly-cloudy-night ::placeholder {
		color: #653e5b;
	}

	.partly-cloudy-night input {
		background: #faf5f8;
		border-color: #96a2c9;
	}

	.partly-cloudy-night input:focus {
		outline-color: #96a2c9;
	}

	.partly-cloudy-night button {
		border-color: #c59090;
		background: #ffcec7;
	}

	.partly-cloudy-night header a {
		color: #653e5b;
	}

		.partly-cloudy-night :-ms-input-placeholder {
			color: #653e5b;
		} 

		.partly-cloudy-night ::-ms-input-placeholder {
			color: #653e5b;
		}

	.partly-cloudy-night ::selection {
		color: #fff;
		background: #ffcec7;
	}

	.partly-cloudy-night ::-moz-selection {
		color: #fff;
		background: #ffcec7;
	}

	.partly-cloudy-night .slider:before {
		background-color: #485e75;
	}

.cloudy::before {
	background: url('../img/cloudy.png') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.55;
}

.cloudy h1, .cloudy h2, .cloudy h3, 
.cloudy h4, .cloudy p, .cloudy header a {
	-webkit-transition: color .4s;
	transition: color .4s;
}

	.cloudy h1, .cloudy h2 {
		color: #a2b1bd;
	}
	
	.cloudy input {
		color: #555;
		background: #fefefe;
	}

	.cloudy button {
		border-color: #fff;
		background: #d8dfe9;
		color: #555;
	}

	.cloudy p, .cloudy h4, .cloudy ::placeholder {
		color: #555;
	}

		.cloudy :-ms-input-placeholder {
			color: #555;
		}

		.cloudy ::-ms-input-placeholder {
			color: #555;
		}

	.cloudy button:focus {
		outline-color: #aaa;
		border-color: #d8dfe9;
	}

	.cloudy input:focus {
		outline-color: #aaa;
	}

	.cloudy ::selection {
		color: #fff;
		background: #c8d2e0;
	}

	.cloudy ::-moz-selection {
		color: #fff;
		background: #c8d2e0;
	}

	.cloudy .slider:before {
		background-color: #a2b1bd;
	}

.wind::before {
	background: url('../img/wind.png') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

.wind h1, .wind h2, .wind h3, 
.wind h4, .wind p, .wind header a {
	-webkit-transition: color .4s;
	transition: color .4s;
}

	.wind h1, .wind h2, .wind button, .wind input {
		color: #727386;
	}

	.wind button {
		background-color: #ffe5c7;
	}

	.wind input:focus, .wind button:focus {
		outline-color: #a9aab6;
	}
	
		.wind ::placeholder {
			color: #727386;
		}

		.wind :-ms-input-placeholder {
			color: #727386;
		}

		.wind ::-ms-input-placeholder {
			color: #727386;
		}

	.wind ::selection {
		color: #fff;
		background: #a3adbc;
	}

	.wind ::-moz-selection {
		color: #fff;
		background: #a3adbc;
	}

	.wind .slider:before {
		background-color: #727386;
	}

.rain::before {
	background: url('../img/rain.png') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.4;
}

.rain h1, .rain h2, .rain h3, 
.rain h4, .rain p, .rain header a {
	-webkit-transition: color .4s;
	transition: color .4s;
}

	.rain h1, .rain h2, .rain header a, .rain input, .rain footer {
		color: #607885;
	}

	.rain button {
		background: #ffe1c7;
		color: #607885;
	}

	.rain button:focus, .rain input:focus {
		outline-color: #607885;
	}

		.rain ::placeholder {
			color: #607885;
		}

		.rain :-ms-input-placeholder {
			color: #607885;
		}

		.rain ::-ms-input-placeholder {
			color: #607885;
		}

	.rain ::selection {
		color: #fff;
		background: #ffe1c7;
	}

	.rain ::-moz-selection {
		color: #fff;
		background: #ffe1c7;
	}

	.rain .slider:before {
		background-color: #607885;
	}

.clear-day::before {
	background: url('../img/clear-day.png') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

.clear-day h1, .clear-day h2, .clear-day h3, 
.clear-day h4, .clear-day p, .clear-day header a {
	-webkit-transition: color .4s;
	transition: color .4s;
}

	.clear-day h1, .clear-day h2 {
		color: #96aec9;
	}

	.clear-day p, .clear-day h4 {
		color: #587891;
	}

	.clear-day header a, .clear-day input, .clear-day button, .clear-day ::placeholder {
		color: #85a1c0;
	}

		.clear-day :-ms-input-placeholder {
			color: #85a1c0;
		}

		.clear-day ::-ms-input-placeholder {
			color: #85a1c0;
		}

	.clear-day button {
		background: #f7e7f9;
	}

	.clear-day button:focus {
		border-color: #fbe1ff;
		outline-color: #85a1c0;
	}

	.clear-day input:focus {
		outline-color: #85a1c0;
	}

	.clear-day ::selection {
		color: #fff;
		background: #eedbf2;
	}

	.clear-day ::-moz-selection {
		color: #fff;
		background: #eedbf2;
	}

	.clear-day .slider:before {
		background-color: #c3c6e9;
	}

.clear-night::before {
	background: url('../img/clear-night.png') no-repeat center 10%;
	background-size: cover;
	background-attachment: fixed;
}

.clear-night h1, .clear-night h2, .clear-night h3, 
.clear-night h4, .clear-night p, .clear-night header a {
	-webkit-transition: color .4s;
	transition: color .4s;
}

	.clear-night h1 {
		color: #b8d1db;
	}

	.clear-night h2 {
		color: #ebf2f5;
	}

	.clear-night p, .clear-night h4 {
		color: #154769;
	}

	.clear-night header a {
		color: #fff;
	}

	.clear-night input {
		border-color: #6992b2;
		color: #4f7999;
	}

	.clear-night button {
		background: #96bbc9;
		border-color: #6992b2;
		color: #4f7999;
	}

	.clear-night button:focus {
		border-color: #96bbc9;
		outline-color: #6285a0;
	}

	.clear-night input:focus {
		outline-color: #8cadb9;
	}

		.clear-night ::placeholder {
			color: #4f7999;
		}

		.clear-night :-ms-input-placeholder {
			color: #4f7999;
		}

		.clear-night ::-ms-input-placeholder {
			color: #4f7999;
		}

	.clear-night ::selection {
		color: #fff;
		background: #b8d1db;
	}

	.clear-night ::-moz-selection {
		color: #fff;
		background: #b8d1db;
	}

	.clear-night .slider:before {
		background-color: #6992b2;
	}

.fog::before {
	background: url('../img/fog.png') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

.fog h1, .fog h2, .fog h3, 
.fog h4, .fog p, .fog header a {
	-webkit-transition: color .4s;
	transition: color .4s;
}

	.fog h1, .fog h2, .fog input {
		color: #767e9c;
	}

	.fog p, .fog h4 {
		color: #55658a;
	}

	.fog button {
		color: #767e9c;
		background-color: #cfd3dc;
	}

	.fog button:focus {
		border-color: #cfd3dc;
		outline-color: #96a6c9;
	}

	.fog input:focus {
		outline-color: #96a6c9;
	}

		.fog ::placeholder {
			color: #767e9c;
		}

		.fog :-ms-input-placeholder {
			color: #767e9c;
		}

		.fog ::-ms-input-placeholder {
			color: #767e9c;
		}

	.fog ::selection {
		color: #fff;
		background: #ccd2df;
	}

	.fog ::-moz-selection {
		color: #fff;
		background: #ccd2df;
	}

	.fog .slider:before {
		background-color: #bcc4d5;
	}

.snow::before {
	background: url('../img/snow.png') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

.snow h1, .snow h2, .snow h3, 
.snow h4, .snow p, .snow header a {
	-webkit-transition: color .4s;
	transition: color .4s;
}

	.snow h1, .snow h2, .snow button, .snow input {
		color: #5b636a;
	}

	.snow p, .snow h4 {
		color: #4f565c;	
	}

	.snow header a, .snow ::placeholder {
		color: #737d85;
	}

		.snow :-ms-input-placeholder {
			color: #737d85;
		}

		.snow ::-ms-input-placeholder {
			color: #737d85;
		}

	.snow button {
		background: #ced6db;
	}

	.snow button:focus {
		border-color: #ced6db;
		outline-color: #96bbc9;
	}

	.snow input:focus {
		outline-color: #96bbc9;
	}

	.snow ::selection {
		color: #fff;
		background: #ced6db;
	}

	.snow ::-moz-selection {
		color: #fff;
		background: #ced6db;
	}

	.snow .slider:before {
		background-color: #737d85;
	}

.sleet::before {
	background: url('../img/sleet.png') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

.sleet h1, .sleet h2, .sleet h3, 
.sleet h4, .sleet p, .sleet header a {
	-webkit-transition: color .4s;
	transition: color .4s;
}

	.sleet h1, .sleet h2, .sleet header a, .sleet button, .sleet input {
		color: #6d767e;
	}

	.sleet button {
		background: #cccfd3;
	}

	.sleet button:focus {
		border-color: #bec2c7;
		outline-color: #959ea3;
	}

	.sleet input:focus {
		outline-color: #959ea3;
	}

		.sleet ::placeholder {
			color: #a1acaf;
		}

		.sleet :-ms-input-placeholder {
			color: #a1acaf;
		}

		.sleet ::-ms-input-placeholder {
			color: #a1acaf;
		}

	.sleet ::selection {
		color: #fff;
		background: #c1c8ca;
	}

	.sleet ::-moz-selection {
		color: #fff;
		background: #c1c8ca;
	}

	.sleet .slider {
		background: rgba(109,118,126,0.2);
	}

	.sleet .slider:before {
		background-color: #6d767e;
	}

.other::before {
	background: url('../img/other.png') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

.other h1, .other h2, .other h3, 
.other h4, .other p, .other header a {
	-webkit-transition: color .4s;
	transition: color .4s;
}

	.other h1, .other h2, .other button, .other footer, .other input {
		color: #555472;
	}

	.other p, .other h4 {
		color: #4a4963;
	}

	.other header a {
		color: #eee;
	}

	.other button {
		background: #cfd3dc;
		border-color: #9694b1;
	}

	.other button:focus {
		border-color: #cfd3dc;
		outline-color: #9694b1;
	}

	.other input:focus {
		outline-color: #9694b1;
	}

		.other ::placeholder {
			color: #979db2;
		}

		.other :-ms-input-placeholder {
			color: #979db2;
		}

		.other ::-ms-input-placeholder {
			color: #979db2;
		}

	.other ::selection {
		color: #fff;
		background: #bbb8cb;
	}

	.other ::-moz-selection {
		color: #fff;
		background: #bbb8cb;
	}

	.other .slider:before {
		background-color: #9694b1;
	}


/*========== Media Queries ===========*/

@media (max-width: 992px) {

	main {
		width: 60vw;
	}

}

@media only screen and (max-width: 600px) {
	main {
		width: 90vw;
	}

	header {
		padding: 10px 0 20px;
	}

	input, button {
		width: 100%;
	}

	h1 {
		margin-top: 0;
	}

	.clear-night::before {
		background-position: center 78%;
		background-size: 300vh;
	}

	.clear-day button {
		background: #d6d8f0;
	}

	footer {
		padding: 0.4rem 0;
	}
}

@media only screen and (max-width: 320px) {

	header {
		padding: 0;
	}

	h1 {
		margin-bottom: 0;
	}

	h2 {
		margin: 0.2em;
	}

	h4 {
		font-size: 0.8em;
	}

	input {
		margin-bottom: 1px;
	}

	input, button {
		padding: 0.3em 1em;
	}

	p#forecast, h4 {
		margin-bottom: 0;
	}

	p#forecast {
		margin-top: 0;
	}

	p {
		font-size: 0.85em;
	}

	footer {
		padding: 0;
		font-size: 0.8em;
	}
}